<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>247084486621-87d1rj52eqh07adde8puoenrnorr1dc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247084486621-87d1rj52eqh07adde8puoenrnorr1dc0</string>
	<key>API_KEY</key>
	<string>AIzaSyDFY-fHZXDRD3yhFh8i-6v39YzAJE3KCDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>247084486621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladalexa.Vtrace</string>
	<key>PROJECT_ID</key>
	<string>vtrace-28426</string>
	<key>STORAGE_BUCKET</key>
	<string>vtrace-28426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247084486621:ios:ce7454d026a023c8</string>
	<key>DATABASE_URL</key>
	<string>https://vtrace-28426.firebaseio.com</string>
</dict>
</plist>